.addnewtoll{
    width:auto;
    padding: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    font-family: "Montserrat";
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    
}
/* .addnewtoll input{
    height:30px;
    width:300px
} */
.entry{
    display:flex;
    justify-content: space-between;
    height:40px;
    
}
.addnewtoll button{
    border:none;
    background-color:steelblue;
    width:100px;
    height:30px;
    border-radius:  8px;
    color: white;
    font-size: 18px;
    margin-left: 90px;
}
.addnewtoll h1{
    margin-left: 110px;
}